.main {
  padding: 2px;
  /* Make menu items take full width for better clicking */
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  border:thin;
}

/*.row{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}*/

.mat-mdc-list-item-icon {
  color: rgba(0, 0, 0, 0.54);
}

/*mat-list-item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}*/
