<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav [mode]="'side'" [opened]="false">
    <div class="menu-content">
      <h3>Menu</h3>    
      @if (authService.isAuthenticated()) {
      <a mat-button (click)="handleLogout()">Logout</a>
      }
      @if (!authService.isAuthenticated()) {
      <a mat-button routerLink="/login" (click)="handleLogout()">Login</a>
      }
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <header>
      <mat-toolbar>
        <button matIconButton class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>{{ title() }}</span>
        <span class="example-spacer"></span>
        <!--<button matIconButton class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>login</mat-icon>
        </button>-->
        <!--<button matIconButton class="example-icon" aria-label="Example icon-button with share icon" >
    <mat-icon>share</mat-icon>
  </button>-->
        <button matIconButton class="demo-section">          
          <mat-icon [matBadge]="orderCount$ | async">home</mat-icon>
          <!-- Include text description of the icon's meaning for screen-readers -->
          <!--<span class="cdk-visually-hidden">
            Example with a home icon with overlaid badge showing the number 15
          </span>-->
        </button>

      </mat-toolbar>
      <nav>
        <!-- Conditional link for logged-in users -->
        @if (authService.isAuthenticated()) {
        <a routerLink="/add-product">Add Product</a>
        }
        @if (authService.isAuthenticated()) {
        | <a routerLink="/products">Products</a>
        }
        @if (authService.isAuthenticated()) {
        | <a routerLink="/add-provider">Add Provider</a>
        }
        @if (authService.isAuthenticated()) {
        | <a routerLink="/providers">Providers</a>
        }
        @if (authService.isAuthenticated()) {
        | <a routerLink="/orders">Orders</a>
        }
      </nav>
    </header>
    <div class="main"> 
      <div>
        <main>
          <router-outlet></router-outlet>
        </main>
      </div>
      <!--<div style="background-color:beige">
        <p>Content on the right</p>
      </div>-->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
