form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: none;
}

mat-form-field{
    width: stretch;
    height: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}
